<%- include('partials/header') %>
<main>
    <h1>Dashboard</h1>
    <p>Welcome, <%= name %>! Your email is <%= email %>.</p>

    <% if (user && user.role_name === 'admin') { %>
        <p><a href="/users">View All Users</a></p>
    <% } %>
</main>
<%- include('partials/footer') %>
